.row{
    display: flex;
    width: 90%;
    margin-top: 30px;
}

.column{
    flex: 33.33%;
    padding: 5px;
}

@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}

/*form*/

.book_form{
    width: 80%;
    margin-top: 20px;
}

#form-book{
    display: flex;
    width: 100%;
    margin-top: 30px;
}

#form-book .column{
    flex: 25%;
    padding: 5px;
}

.book_form .custom-file-input{
}