/*books-list*/

#book-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 10%;

}

#book-list .column{
    margin-right: 20px;
    text-align: center;
    padding: 15px;
}

#book-list .book-price-rating p{
    margin-top: 5px;
    margin-left: 2px;
    text-align: left;
}

#book-list img{
    margin-top: 8px;
    vertical-align: middle;
}

#book-list .book-detail-a{
    display: block;
    text-decoration: none;
    color: black;

}

#book-list .book-detail-a:hover{
    color: #8d5b6b;
}

#book-list .jumbotron{
    padding: 10px;
    background-color: #e9e6e6;
}


@media screen and (max-width: 500px) {
  .books-list .column {
    width: 100%;
  }
}

/*form*/

.book_form{
    width: 80%;
    margin-top: 20px;
}

#form-book{
    display: flex;
    width: 100%;
    margin-top: 30px;
}

#form-book .column{
    flex: 25%;
    padding: 5px;
}

/*detail*/

article .book-cover{
    float: left;
    margin-right: 30px;
}

article .book-description{
    font-size: 0.9rem;
    text-align: justify;

}

article .book-cover{
    margin-bottom: 20px;
}

article .book-data{
    clear: both;
}

article .book-title{
    display: inline;
}

article .book-author{
    float: right;

}

/*button - paginate*/

.buttons-paginate a{
    border-color: #706d6d;
    color: #706d6d;
}

.buttons-paginate a:hover{
    border-color: #706d6d;
    background-color: #706d6d;
}

.buttons-paginate .btn-info{
    color: white;
    background-color: #706d6d;
}

.common-form{
     font-family: 'Josefin Sans', sans-serif;
     margin-top: 20px;
}

/*genre-authors table*/

table{
    text-align: center;
    vertical-align: middle;
}