{% extends "base.html" %}

{% block content %}

    <div class="mt-5">
        <h5>Home Page</h5>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla orci enim, elementum eget velit sit amet, sollicitudin vehicula mauris. In cursus sapien sem, eu hendrerit magna rhoncus at. Cras accumsan condimentum condimentum. Phasellus accumsan pretium ipsum at varius. Donec id erat ex. Ut ultrices aliquet iaculis. Donec posuere laoreet lacus. Nam accumsan tortor suscipit purus maximus, ac lacinia risus sollicitudin. Sed vestibulum commodo porttitor. Nullam consectetur placerat metus, sit amet viverra leo faucibus non. Donec a odio rutrum, pellentesque dolor pulvinar, tristique ex. Nulla tincidunt neque purus. Aliquam lacinia venenatis tortor, nec maximus purus.

    Praesent bibendum in magna mattis consectetur. Nam finibus volutpat eleifend. Pellentesque euismod semper nisi ut aliquam. Donec molestie semper aliquet. Nullam quis volutpat odio. Phasellus dictum iaculis felis id hendrerit. Etiam elementum eros a felis volutpat, at pulvinar arcu tempor. Aenean vel nulla ex. Phasellus rhoncus a justo id volutpat. Proin lobortis porta mauris eu dapibus. Donec sodales non ligula vel rhoncus. Duis eleifend fermentum metus, ac commodo mi varius eget. Donec ullamcorper placerat eros, a bibendum ex pharetra eget.
        </p>

    </div>
{% endblock %}