{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load full_url %}


    <div class="books col-md-9">
        <div id="book-list" class="row">
            {% for book in paginated_filter %}
                <div class="column">
                    <div class="jumbotron">
                        <a class="book-detail-a" href="{% url 'book-details' book.pk %}">{{ book.title|truncatechars:25 }}</a>
                        <img src="{{ book.image.url }}" width="200" height="300"/>
                        <div class="book-price-rating">
                            <p>Price {{ book.price }} PLN</p>
                            <p>Rating {{ book.rating }}/10</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="sidebar col-md-3 mt-5">
        <div class="jumbotron">
            <h5>Filters</h5>
            <form method="GET">
                <label for="pagination">Books on page</label>
                <select id="pagination" name="paginate_by" class="form-control">
                    <option value="">----------</option>
                    <option value="1">1</option>
                    <option value="3">3</option>
                    <option value="6">6</option>
                    <option value="9">9</option>
                    <option value="12">12</option>
                    <option value="18">18</option>
                </select>
                {{ filter.form|crispy }}
                <button type="submit" class="btn btn-primary mt-4">Submit</button>
            </form>
        </div>
    </div>


    <div class="buttons-paginate">
        {% if is_paginated %}

            {% if paginated_filter.has_previous %}
                <a class="btn btn-outline-info mb-4" href="{% full_url 1 'page' request.GET.urlencode %}">First</a>
                <a class="btn btn-outline-info mb-4" href="{% full_url paginated_filter.previous_page_number 'page' request.GET.urlencode %}">Previous</a>
            {% endif %}

            {% for num in paginated_filter.paginator.page_range %}
                {% if paginated_filter.number == num %}
                    <a class="btn btn-info mb-4" href="{% full_url num 'page' request.GET.urlencode %}">{{ num }}</a>
                {% elif num > paginated_filter.number|add:'-3' and num < paginated_filter.number|add:'3' %}
                    <a class="btn btn-outline-info mb-4" href="{% full_url num 'page' request.GET.urlencode %}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if paginated_filter.has_next %}
                <a class="btn btn-outline-info mb-4" href="{% full_url paginated_filter.next_page_number 'page' request.GET.urlencode %}">Next</a>
                <a class="btn btn-outline-info mb-4" href="{% full_url paginated_filter.paginator.num_pages 'page' request.GET.urlencode %}">Last</a>
            {% endif %}

        {% endif %}
    </div>





{% endblock %}