{% extends "base.html" %}

{% block content %}
    <div class="book-form-content col-md-12">
      <form class="book_form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-group">
          {{ form.title.errors }}
          <label for="{{ form.title.id_for_label }}">Title:</label>
          {{ form.title }}
        </div>
        <div id="form-book" class="row">
              <div class="col">
                <div class="form-group">
                  {{ form.genre.errors }}
                  <label for="{{ form.genre.id_for_label }}">Genre:</label>
                  {{ form.genre }}
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  {{ form.rating.errors }}
                  <label for="{{ form.rating.id_for_label }}">Rating:</label>
                  {{ form.rating }}
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  {{ form.publication_year.errors }}
                  <label for="{{ form.publication_year.id_for_label }}">Pub.Year:</label>
                  {{ form.publication_year }}
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  {{ form.price.errors }}
                  <label for="{{ form.price.id_for_label }}">Price:</label>
                  {{ form.price }}
                </div>
              </div>
        </div>
        <div class="form-group">
          {{ form.description.errors }}
          <label for="{{ form.description.id_for_label }}">Description:</label>
          {{ form.description }}
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    {{ form.image.errors }}
                    <label for="{{ form.image.id_for_label }}">Book Cover:</label>
                    {{ form.image }}
                </div>
            </div>
        <div class="col">
            <div class="form-group">
              {{ form.authors.errors }}
              <label for="{{ form.authors.id_for_label }}">Author:</label>
              <select name="authors" class="form-control" id="id_authors">
                {% for value,author in form.authors.field.choices %}
                    <option value="{{ value }}">{{ author }}</option>
                {% endfor %}
              </select>
            </div>
        </div>
        </div>


        <input type="submit" value="Submit" class="btn btn-primary"/>

      </form>
  </div>
{% endblock %}