{% extends "base.html" %}

{% block content %}



    <div class="col-md-9">
        <div id="book-list" class="row">
            {% for book in books %}
                <div class="column">
                    <div class="jumbotron">
                        <a class="book-detail-a" href="{% url 'book-detail' book.pk %}">{{ book.title }}</a>
                        <img src="{{ book.image.url }}" width="200" height="300"/>
                        <div class="book-price-rating">
                            <p>Price {{ book.price }} PLN</p>
                            <p>Rating {{ book.rating }}/10</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="col-md-3 mt-5">
        <div class="jumbotron">
            <h5>Filters</h5>
            <form method="get">
                <div class="form-group">
{#                    {% csrf_token %}#}
                    <label for="pagination">Books on page</label>
                    <select id="pagination" name="paginate_by" class="form-control">
                        <option></option>
                        <option value="1">1</option>
                        <option value="3">3</option>
                        <option value="6">6</option>
                        <option value="9">9</option>
                        <option value="12">12</option>
                    </select>
                    <label for="author" class="mt-2">Author</label>
                    <select id="author" name="author" class="form-control">
                        <option></option>
                        {% for author in authors %}
                            <option>{{ author }}</option>
                        {% endfor %}
                    </select>

                    <label for="genre" class="mt-2">Genre</label>
                    <select id="genre" name="genre" class="form-control">
                        <option></option>
                        {% for genre in genres %}
                            <option>{{ genre }}</option>
                        {% endfor %}
                    </select>


                    <button onclick="addPagination();" type="submit" class="btn btn-primary mt-4">Submit</button>
                </div>
            </form>
        </div>
    </div>


    <div class="buttons-paginate">
        {% if is_paginated %}

            {% if page_obj.has_previous %}
                <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}

        {% endif %}
    </div>



{% endblock %}