{% extends "base.html" %}
{% load has_group %}

{% block content %}
    <div class="col-md-9">
         <article class="media content-section">


             <table class="table table-bordered table-sm mt-5">
                 <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Books on Stock</th>
                        <th scope="col">Edit / Delete</th>
                    </tr>
                 </thead>
                 <tbody>
                    {% for genre in genres %}
                        <tr>
                            <td>{{ genre.name }}</td>
                            <td>{{ genre.books.all|length }}</td>
                            <td>
                                {% if user|has_group:"Moderators" or user.is_staff %}
                                    <a href="{% url 'genre-update' genre.pk %}" class="btn btn-light btn-sm mr-2">
                                        <i class="fas fa-pen"></i>
                                    </a>
                                {% else %}
                                <a class="btn btn-light btn-sm" href="#">
                                    <i class="fas fa-times"></i>
                                </a>
                                {% endif %}
                                {% if user.is_stuff or user.is_superuser %}
                                    <a class="btn btn-light btn-sm" href="{% url 'genre-delete' genre.pk %}">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                {% else %}
                                    <a class="btn btn-light btn-sm" href="#">
                                        <i class="fas fa-times"></i>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                 </tbody>
             </table>
         </article>



    </div>
{% endblock %}